@import url("https://fonts.google.com/specimen/Overpass?preview.text_type=custom");
@import url("https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom");

/* *******************************************************



           Style


               
******************************************************* */
:root {
  /* ### Primary */
  --CTA-text: hsl(356, 100%, 66%);
  --CTA-hover-background: hsl(355, 100%, 74%);
  --headings: hsl(208, 49%, 24%);
  /* ### Neutral */

  --text: hsl(0, 0%, 100%);
  --blue-footer-text: hsl(240, 2%, 79%);
  --body-copy: hsl(207, 13%, 34%);
  --footer-background: hsl(240, 10%, 16%);

  /* ### Gradient */

  /* Background gradient - Intro/CTA mobile nav: */

  --Very-light-red: hsl(13, 100%, 72%);
  --Light-red: hsl(353, 100%, 62%);

  /* Background gradient - body: */

  --Very-dark-gray-blue: hsl(237, 17%, 21%);
  --Very-dark-desaturated-blue: hsl(237, 23%, 32%);
  /* Fonts */
  --OverPass: "Overpass", sans-serif;
  --Ubuntu: "Ubuntu", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  width: 100%;
}

/* *******************************************************



               Header


               
******************************************************* */
.header {
  width: 100%;
  background-color: var(--Light-red);
  height: 80vh;
  display: flex;
  font-family: var(--Ubuntu);
  border-bottom-left-radius: 50px;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 200%;
  font-size: 18px;
  flex-direction: column;
  background-position: right;
  background-image: url(./images/bg-pattern-intro.svg);
}
.header nav h1 {
  margin-left: 40px;
  font-size: 45px;
  color: var(--text);
}
.header nav {
  width: 100%;
  margin-bottom: 100px;
  margin-top: 10px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr 2fr;
  height: 100px;
  overflow: hidden;
}
.links {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  align-items: center;
  width: 70%;
  justify-items: center;
}
.links li a {
  text-decoration: none;
  color: var(--text);
}
.links li a:hover {
  text-decoration: underline;
}
.links li i {
  color: var(--text);
  cursor: pointer;
  height: 100%;
  width: 22px;
  text-align: center;
  line-height: 70px;
}
.nav-toggle {
  color: white;
  line-height: 80px;
  float: right;
  cursor: pointer;
  display: none;
}

#btns {
  display: grid;
  align-items: center;
  grid-template-columns: 100px 100px;
  grid-template-rows: 80px;
  grid-column-gap: 40px;
  margin-right: 40px;
  justify-content: center;
  font-family: var(--Ubuntu);
  font-size: 16px;
}
.log-in-btn {
  width: 110px;
  border-radius: 9999px;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}
.log-in-btn:hover {
  color: var(--Light-red);
  background-color: var(--text);
}

.sign-up-btn {
  width: 110px;
  font-weight: 700;
  border-radius: 9999px;
  height: 40px;
  border: none;
  font-size: 16px;
  outline: none;
  background-color: var(--text);
  color: var(--Light-red);
  cursor: pointer;
}
.sign-up-btn:hover {
  color: var(--text);
  background-color: var(--CTA-hover-background);
}

#header-title {
  width: 100%;
  height: 50%;
  display: grid;
  margin-bottom: 40px;
  justify-items: center;
}
#header-title .header-title {
  font-size: 50px;
  font-family: var(--Ubuntu);
  color: var(--text);
}
#header-title p {
  font-family: var(--Ubuntu);
  color: var(--text);
}
.btns {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-column-gap: 20px;
  justify-items: center;
  align-items: center;
}
/* 
Dark Mode: Buttons 1 and 2 
*/
.btn-2 {
  width: 130px;
  border-radius: 9999px;
  height: 40px;
  outline: none;
  background-color: transparent;
  color: var(--text);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid #fff;
}
.btn-2:hover {
  color: var(--Light-red);
  background-color: var(--text);
}
.btn-1 {
  width: 130px;
  font-weight: 500;
  border-radius: 9999px;
  height: 40px;
  border: none;
  font-size: 16px;
  outline: none;
  background-color: var(--text);
  color: var(--Light-red);
  cursor: pointer;
}
.btn-1:hover {
  color: var(--text);
  background-color: var(--CTA-hover-background);
}

/* *******************************************************



               Section-1


               
******************************************************* */
.section-one {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#section-title-one {
  align-self: center;
  display: flex;
  justify-self: flex-start;
  font-size: 40px;
  color: var(--headings);
  margin-top: 40px;
  font-family: var(--Ubuntu);
  font-weight: 700;
}
#items-one {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
#img-one {
  width: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(./images/illustration-editor-desktop.svg);
  height: auto;
}
#img-one img {
  width: 100%;
  height: 100%;
  display: none;
}
.texts {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 20px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
}

#text-one {
  margin-bottom: 60px;
}

#text-one h1 {
  margin-bottom: 20px;
  color: var(--headings);
  font-size: 30px;
  font-family: var(--Ubuntu);
}
#text-one p {
  font-family: var(--OverPass);
  font-size: 18px;
  margin-top: 30px;
  color: var(--headings);
  font-weight: 500;
}
#text-two h1 {
  margin-bottom: 20px;
  color: var(--headings);
  font-size: 30px;
  font-family: var(--Ubuntu);
}
#text-two p {
  font-family: var(--OverPass);
  font-size: 18px;
  color: var(--headings);
  font-weight: 500;
  margin-top: 30px;
}
/* *******************************************************



               Section-2



******************************************************* */
#section-two {
  margin-top: 200px;
  width: 100%;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  height: 80vh;
  display: flex;
  flex-direction: row;
  background-color: var(--Very-dark-gray-blue);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/images/bg-pattern-circles.svg);
}
#img-two {
  width: 50%;
  height: auto;
  overflow-y: hidden;
}
#img-two img {
  width: 100%;
  height: 100%;
}
#text-three {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  flex-direction: column;
  margin-right: 20px;
  height: 100%;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
}
#text-three h1 {
  font-size: 40px;
  color: var(--text);
  font-family: var(--Ubuntu);
  font-weight: 700;
}
#text-three p {
  font-family: var(--OverPass);
  font-size: 18px;
  padding: 20px 40px;
  margin-top: 30px;
  color: var(--text);
  font-weight: 500;
}
/* *******************************************************



               Section-3


               
******************************************************* */
#section-three {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#items-three {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#img-three {
  width: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(/images/illustration-laptop-desktop.svg);
  height: auto;
}
#img-three img {
  width: 100%;
  height: 100%;
  display: none;
}
.texts-three {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 20px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
}
#text-three {
  margin-bottom: 60px;
}

#text-four h1 {
  margin-bottom: 20px;
  color: var(--headings);
  font-size: 30px;
  font-family: var(--Ubuntu);
}
#text-four p {
  font-family: var(--OverPass);
  font-size: 18px;
  margin-top: 30px;
  color: var(--headings);
  font-weight: 500;
}
#text-five h1 {
  margin-top: 45px;
  margin-bottom: 20px;
  color: var(--headings);
  font-size: 30px;
  font-family: var(--Ubuntu);
}
#text-five p {
  font-family: var(--OverPass);
  font-size: 18px;
  color: var(--headings);
  font-weight: 500;
  margin-top: 30px;
}
/* *******************************************************



               Footer


               
******************************************************* */

footer {
  display: flex;
  margin-top: 200px;
  flex-direction: row;
  background-color: var(--footer-background);
  color: var(--text);
  border-top-right-radius: 50px;
  height: 70vh;
}
#name,
#products,
#company,
#connect {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#products h6,
#company h6,
#connect h6 {
  font-size: 18px;
  color: var(--text);
  font-weight: 600;
  font-family: var(--Ubuntu);
}
#name h1 {
  font-size: 40px;
  font-family: var(--Ubuntu);
}
#name ul,
#products ul,
#company ul,
#connect ul {
  list-style: none;
}
#name ul li,
#products ul li,
#company ul li,
#connect ul li {
  margin: 30px 0;
}

#name ul li a,
#products ul li a,
#company ul li a,
#connect ul li a {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--OverPass);
  color: var(--blue-footer-text);
  text-decoration: none;
}
#name ul li a:hover,
#products ul li a:hover,
#company ul li a:hover,
#connect ul li a:hover {
  text-decoration: underline;
  color: var(--text);
}

/* *******************************************************



               Media Queries


               
******************************************************* */
@media screen and (max-width: 915px) {
  header nav {
    display: flex;
    justify-content: space-evenly;
  }
  .dark-mode-toggle {
    background-color: black;
    padding: 10px 40px;
    display: flex;
    justify-self: center;
  }

  .links {
    height: 0;
    overflow: hidden;
    display: none;
  }
  .show-links {
    background-color: var(--text);
    position: absolute;
    top: 110px;
    display: flex;
    width: 100%;
    border-radius: 10px;
    height: 15rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.3s linear;
  }
  .show-links li a {
    margin-left: 20px;
    color: var(--headings);
  }
  .show-links li i {
    color: var(--Light-red);
  }
  .nav-toggle {
    margin-right: 20px;
    display: flex;
    margin-left: auto;
  }

  #btns {
    display: none;
  }
  #section-title-one,
  #section-title-three {
    font-size: 25px;
    text-align: center;
  }
  #items-one,
  #items-three {
    flex-direction: column;
  }
  #img-one,
  #img-three {
    margin: 25px 0;
    width: 100%;
  }
  #img-one img,
  #img-three img {
    display: block;
  }
  .texts,
  .texts-three {
    text-align: center;
    margin: auto;
  }
  #section-two {
    flex-direction: column;
    height: auto;
  }
  #img-two {
    width: auto;
    justify-content: center;
    display: flex;
  }
  #text-three {
    width: 100%;
    text-align: center;
  }
  footer {
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 100%;
    flex-direction: column;
  }
  #products h6,
  #company h6,
  #connect h6,
  #name h1 {
    margin: 20px 0;
  }
}
@media screen and (max-width: 660px) {
  #header-title .header-title {
    font-size: 30px;
    text-align: center;
  }
  #header-title p {
    font-size: 16px;
    text-align: center;
  }
  #text-three h1 {
    font-size: 35px;
  }
}
